In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import nltk
nltk.download('punkt')
import matplotlib.pyplot as plt
import matplotlib
import warnings
warnings.filterwarnings('ignore')
from wordcloud import WordCloud
import re

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
import re
import nltk
nltk.download('punkt')
nltk.download('wordnet')
import string
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve,auc
from nltk.stem.porter import PorterStemmer
# Tutorial about Python regular expressions: https://pymotw.com/2/re/
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from gensim.models import word2vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv("/content/drive/My Drive/Modified_SQL_Dataset.csv")

Mounted at /content/drive

__Feature Extraction__

In [ ]:
#printing some random variable
sent_0 = data['Query'].values[0]
print(sent_0)
print("="*50)

sent_2000 = data['Query'].values[2000]
print(sent_2000)
print("="*50)

sent_15000 = data['Query'].values[15000]
print(sent_15000)
print("="*50)

sent_20000 = data['Query'].values[20000]
print(sent_20000)
print("="*50)

" or pg_sleep  (  __TIME__  )  --
==================================================
-6754'  )   where 8388  =  8388 union all select 8388,8388,8388,8388,8388--
==================================================
levi@coivoco.gr
==================================================
  SELECT REVERSE ( "SQL Tutorial" ) ;
==================================================

In [ ]:
#remove the special Character :  https://stackoverflow.com/a/5843547/4084039
sent_15000 = re.sub('[^A-Za-z0-9]+',' ',sent_15000)
print(sent_15000)

levi coivoco gr

In [ ]:
sent_20000 = re.sub('[^A-Za-z0-9]+',' ',sent_20000)
print(sent_20000)

 SELECT REVERSE SQL Tutorial

Stop words are common words that will likely appear in any text. Which we need to remove.

E.g.: silver or lead is fine for me -> silver, lead, fine.

In [ ]:
stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [ ]:
# Combining all the above stundents
from tqdm import tqdm
preprocessed_query = []
lemmatizer = WordNetLemmatizer()
# tqdm is for printing the status bar
for sentance in tqdm(data['Query'].values):
    sentance = re.sub('[^A-Za-z0-9]+', ' ', sentance)
    sentance = re.sub(r',', ' ', sentance)
    #https://www.machinelearningplus.com/nlp/lemmatization-examples-python/
    tokenization = nltk.word_tokenize(sentance)
    sentance = ' '.join([lemmatizer.lemmatize(w) for w in tokenization])
    # https://gist.github.com/sebleier/554280
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    preprocessed_query.append(sentance.strip())

100%|██████████| 30919/30919 [00:06<00:00, 4590.02it/s]

In [ ]:
preprocessed_query

['pg sleep time',
 'create user name identified pass123 temporary tablespace temp default tablespace user',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 5',
 'select user id 1 1 1 union select 1 version 1',
 'select user id 1 1 union select 1 version 1',
 'select name syscolumns id select id sysobjects name tablename',
 'select user id 1 1 1 1',
 '1 load file char 47 101 116 99 47 112 97 115 115 119 100 1 1 1',
 'select user id 1 1 1 union select 1 version 1',
 'select user id 1 union select 1 version 1',
 '1 1',
 '',
 'admin 1 1',
 'select user id 1 1 1 1',
 '1 1',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 5',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'distinct',
 'select user id 1 1 1 1',
 '1 ascii lower substring select top 1 name sysobjects xtype u 1 1 116',
 'select user id 1 1 1 1',
 'admin 1 1',
 'select user id 1 1 1 1',
 'insert',
 'select user id 1 1 1 1 1 1',
 'select user id 1 1 1 1',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 8',
 'select user id 1 1 1 1',
 '1 1',
 '1 1',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select version 1',
 '1 1',
 '27 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select version 1',
 '1 load file char 47 101 116 99 47 112 97 115',
 'select user id 1 1 1 union select 1 version 1',
 'select user id 1 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select 1 1 version 1',
 'select user id 1 1 union select null banner v version rownum 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 '1',
 'select user id 1 1 1 1',
 'admin 1 1',
 'select user id 1 1 union select null banner v version rownum 1 1',
 'x27union select',
 'print',
 'select user id 1 union select version 1',
 '1 1',
 '1 pg sleep time',
 'select user id 1 1 1 1',
 'admin 1 1',
 '2 1 3',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select null version 1',
 'admin 1 1',
 'not select system user sa waitfor delay 0 0 2',
 'select user id 1 union select 1 banner v version rownum 1 1',
 '0 0',
 'select user id 1 union select version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 'char 4039 41 2b 40select',
 'select user id 1 1 1 1 1',
 'admin 1 1',
 'declare varchar 200 select 0x73656c6',
 '0 0',
 'select user id 1 1 1 1',
 'x x',
 'select user id 1 union select 1 version 1',
 'sleep 50',
 'select user id 1 1 union select null banner v version rownum 1 1',
 '1 union select 1 2 3 4 5 6 name sysobjects xtype u',
 'select user id 1 1 union select version 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 1 1 1 1',
 '1 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 4',
 'select user id 1 union select version 1',
 '1 user name dbo',
 'not substring select version 24 1 1 waitfor delay 0 0 2',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1 1',
 '1 utl inaddr get host address select distinct username select distinct username rownum limit sys users limit 6',
 '1 1',
 'select user id 1 1 1 1',
 'text',
 '1234 1 0 union select admin 81dc9bdb52d04dc20036dbd8313ed055',
 'select user id 1 1 1 1',
 'select user id 1 1 1 union select 1 version 1',
 'admin 1 1',
 'select user id 1 1 1 1 1',
 '',
 '1 utl inaddr get host address select distinct username select distinct username rownum limit sys users limit 4',
 'select information schema table',
 'select user id 1 1 1 1',
 '1 pg sleep time',
 'select user id 1 union select version 1',
 'declare q nvarchar 200 select q 0x770061',
 '1 1',
 'select user id 1 1 1 1 1',
 'declare q nvarchar 200 select q 0x770061006900740066006f0072002000640065006c00610079002000270030003a0030003a0031003000270000 exec q',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'unusual unusual',
 '1 select version',
 'truncate',
 '',
 '3 3',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 'select user id 1 union select 1 version 1',
 'admin 1 1',
 'select user id 1 1 union select version 1',
 '1 benchmark 10000000 md5 1',
 'select user id 1 union select 1 version 1',
 '1 utl inaddr get host address select sys database name dual',
 '0 0',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1',
 'not substring select version 25 1 0 waitfor delay 0 0 2',
 '1 sleep time',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 'true',
 'execute immediate sel ect u er',
 'hi x x',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'admin',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'union select 1 load file etc passwd 1 1 1',
 'waitfor delay 0 0 time',
 'unusual unusual',
 'insert mysql user user host password value name localhost password pass123',
 'admin 1 1',
 'select user id 1 1 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'like',
 'username like char 37',
 'pg sleep time',
 'select user id 1 1 1 1',
 '3 3',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1 1',
 'exec sp',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'admin 1 1',
 'waitfor delay 0 0 10',
 'select user id 1 union select null version 1',
 'select user id 1 union select 1 version 1',
 '1 select var temp',
 'hi',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 1',
 'admin 1 1',
 'true',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1',
 '1 pg sleep time',
 'select user id 1 1 1 1',
 'sleep time',
 'select user id 1 1 1 1',
 'admin 1 1',
 'select user id 1 union select 1 version 1',
 'exec xp regread',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1',
 '1 1 1',
 '0 0',
 'union select user login char',
 'select user id 1 union select 1 version 1',
 'admin 1 1',
 '1 select',
 'select user id 1 1 1 1',
 'x 1 select count tabname',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 '1 benchmark 10000000 md5 1',
 'procedure',
 '',
 '1 utl inaddr get host address select sys login user dual',
 '1 utl inaddr get host address select distinct username select distinct username rownum limit sys users limit 2',
 'desc user',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1 1 1',
 '',
 '',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'admin',
 'select user id 1 1 1 1',
 'utl http request',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 1',
 'select user id 1 union select 1 version 1',
 'benchmark 10000000 md5 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1',
 '1 uni select',
 'select user id 1 union select null version 1',
 'select user id 1 1 union select null version 1',
 'admin 1 1',
 'utl http request http 192 168 1 1',
 '7659 7659',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 '1 utl inaddr get host address select distinct granted role select distinct granted role rownum limit dba role privs grantee sys loginuser limit 6',
 'select user id 1 1 1 1',
 'true',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select version 1',
 'select user id 1 1 union select 1 version 1',
 'true',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1',
 '3 3',
 '1 utl inaddr get host address select global name global name',
 'select user id 1 1 union select null banner v version rownum 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 1 union select version version 1',
 'select user id 1 1 1 1 1',
 'uid like',
 'select user id 1 1 1 1 1',
 'select user id 1 union select 1 version 1',
 '23 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 union select version 1',
 '0 1 1',
 'select user id 1 1 1 1',
 'admin 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 5',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 7',
 'apos',
 'sqlvuln',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 '',
 'hi 1 1',
 'select user id 1 union select null banner v version rownum 1 1',
 'exec master xp cmdshell ping 172 10 1 255',
 'select user id 1 1 1 union select 1 banner v version rownum 1 1',
 'select user id 1 union select version 1',
 'select information schema table',
 'select user id 1 1 1 1',
 'select top 1',
 '1 1',
 '',
 '1 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 union select version 1',
 '',
 'exec sp addlogin name password',
 'select user id 1 union select null banner v version rownum 1 1',
 '0x77616974666f722064656c61792027303a303a31302700 exec',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'group userid 1 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1 1',
 '1 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 '',
 'declare varchar 22 select',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 union select version version 1',
 'variable',
 'exec master xp cmdshell',
 'select user id 1 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select 1a version 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 union select 1 version 1',
 '1 select var temp',
 'select user id 1 union select 1 banner v version rownum 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1',
 'x x',
 '',
 '1 1',
 'select user id 11 1 union select 1 version 1',
 'x x',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 union select 1 version 1',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 4',
 'srvrolemember sysadmin 0 waitfor delay 0 0 2',
 'select user id 1 1 1 1',
 'select user id 1 union select version 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select version version 1',
 '1 1',
 '',
 'x x',
 'select user id 1 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'password',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select null version 1',
 '1 utl inaddr get host address select distinct granted role select distinct granted role rownum limit dba role privs grantee sys loginuser limit 3',
 '1 1',
 'admin 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 'union select user login char 114 111 111 116',
 'select user id 1 1 union select 1 version 1',
 '1 1',
 '1 utl inaddr get host address select distinct granted role select distinct granted role rownum limit dba role privs grantee sys loginuser limit 5',
 'pg sleep time',
 '3 3',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'union select information schema table',
 'select user id 1 1 1 1',
 'benchmark 10000000 md5 1',
 '1 utl inaddr get host address select count distinct column name sys tab column',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 7',
 '',
 'delete',
 'waitfor delay 0 0 time',
 '1 1',
 '1 non existant table 1',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'declare varchar 200 select 0x77616974',
 'x userid null',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 union select version 1',
 'select user id 1 union select 1 version 1',
 '1 utl inaddr get host address select host name v instance',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 2',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'union select',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 'x full name like bob',
 'x member email null',
 '2 1',
 'select user id 1 1 1 1 1',
 'pg sleep time',
 '',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'sleep time',
 'sleep 50',
 'select user id 1 1 1 union select 1 banner v version rownum 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'sleep time',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 union select version 1',
 'select user id 1 union select version 1',
 'select user id 1 union select null version 1',
 '2 1',
 'exec sel ect u er',
 'anything x x',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select 1 banner v version rownum 1 1',
 'select user id 1 union select null version 1',
 '',
 '3 3',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 'admin 1 1',
 'uni sel ect',
 '',
 'waitfor delay 0 0 time',
 'select user id 1 1 1 1',
 '1 waitfor delay 0 0 10',
 'bfilename',
 'admin 1 1',
 'uef',
 'password',
 '1 sleep time',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 6',
 'select user id 1 union select version 1',
 'select user id 1 1 union select 1 version 1',
 '1 1 select count tablenames',
 'sleep time',
 '1 utl inaddr get host address select distinct granted role select distinct granted role rownum limit dba role privs grantee sys loginuser limit 8',
 'select user id 1 1 1 1 1 1',
 '6',
 '1',
 '1 load file char 110 46 101 120 116 char 39 39 1 0',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 1 union select 1 version 1',
 'select user id 1 1 1 1',
 '1 1',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 7',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 'whatever whatever',
 'declare varchar 200 select 0x73656c65637420404076657273696f6e exec',
 'select user id 1 1 1 1',
 '',
 '1 utl inaddr get host address select count distinct table name sys table',
 'select user id 1 union select 1 version 1',
 'admin 1 1',
 'select user id 1 1 union select version 1',
 'select user id 1 1 1 1',
 '',
 'select user id 1 1 1 1',
 '1 1',
 'drop table temp',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 2',
 'benchmark 10000000 md5 1',
 'x x',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'something like',
 'not select serverproperty isintegratedsecurityonly 0 waitfor delay 0 0 2',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 4',
 'select user id 1 1 1 1',
 'exec master xp cmdshell ping 10 10 1 2',
 'admin 1 1',
 'not select serverproperty isintegratedsecurityonly 1 waitfor delay 0 0 2',
 '1 utl inaddr get host address select distinct table name select distinct table name rownum limit sys table limit 2',
 'select user id 1 union select version version 1',
 'select user id 1 1 union select null version 1',
 'waitfor delay 0 0 time',
 'x userid null',
 'select user id 1 1 1 1 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 '1 1',
 'select user id 1 union select 1a banner v version rownum 1 1',
 'admin 1 1',
 'select user id 1 1 union select 1 version 1',
 '1 load file char 110 46 101 120 11',
 'exec',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 '1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 union select version version 1',
 'x email null',
 'select user id 1 1 union select 1 version 1',
 '',
 'select user id 1 union select null banner v version rownum 1 1',
 'select user id 11 1 union select 1 banner v version rownum 1 1',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 'update',
 '1',
 'select user id 1 1 union select 1 version 1',
 'pg sleep time',
 '6',
 'select user id 1 union select 1 version 1',
 'exists',
 '',
 'text n text',
 'select user id 1 union select null version 1',
 'select user id 1 union select version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 '0 0',
 'select user id 1 1 1 1 1 1',
 'select user id 1 1 1 1 1',
 'select user id 1 1 union select version version 1',
 'select user id 1 1 union select version 1',
 'password 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'union select null select version',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 union select 1 version 1',
 'select user id 1 union select null version 1',
 'select user id 1 union select null version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select 1 version 1',
 '1 utl inaddr get host address select banner v version rownum 1',
 'select user id 1 1 1 1',
 '1 utl inaddr get host address select distinct column name select distinct column name rownum limit tab column limit 3',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'select user id 1 union select 1 version 1',
 'select user id 1 1 1 1',
 'union select',
 'asc',
 'myappadmin adduser admin newpass',
 'exec sp addsrvrolemember name sysadmin',
 'select user id 1 1 union select 1 version 1',
 'true',
 'select user id 1 1 union select 1 banner v version rownum 1 1',
 '1 utl inaddr get host address select distinct password select distinct password rownum limit sys user limit 3',
 'userid like',
 'union select null null select version',
 '',
 'select user id 1 1 1 1',
 'admin',
 'select user id 1 union select 1 version 1',
 'waitfor delay 0 0 time',
 'select user id 1 union select version 1',
 'select user id 1 1 1 1',
 'admin 1 1',
 'union select version',
 '',
 'sleep time',
 'union select null null null null null select version',
 'select user id 1 union select 1 version 1',
 'select user id 1 union select version 1',
 'select user id 1 1 1 1',
 'select user id 1 1 1 1',
 'select user id 1 1 union select null version 1',
 'select user id 1 1 1 1',
 'hi',
 'select name syscolumns id sele',
 'select user id 1 1 1 1 1',
 'not substring select version 25 1 5 waitfor delay 0 0 2',
 'select user id 1 union select 1 version 1',
 '2 1 3',
 'union select version',

In [ ]:
data['Query'] = preprocessed_query

In [ ]:
data.head()

                                               Query  Label
0                                      pg sleep time      1
1  create user name identified pass123 temporary ...      1
2  1 utl inaddr get host address select distinct ...      1
3      select user id 1 1 1 union select 1 version 1      1
4        select user id 1 1 union select 1 version 1      1

In [ ]:
data.to_csv('/content/drive/MyDrive/Modified_SQL_Dataset_preprocessed.csv', index=False)